# FILE: .htaccess

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/bungmek1/public_html/cms"
PassengerBaseURI "/cms"
PassengerNodejs "/home/bungmek1/nodevenv/public_html/cms/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js

# Tambahan untuk Stabilitas
PassengerNodeEnv production
PassengerStartupTimeout 60 
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END